.card {
  width: 32%;
  aspect-ratio: 1 / 1;
  margin: 0.5%;
  outline: 2px solid black;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(4px 5px 4px lightgrey);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.card-img {
  height: 40%;
  width: auto;
  align-items: center;
}
.card-body {
  height: 60%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
    aspect-ratio: 4 / 5;
    margin: 0 2%;
  }

  .card-body h1 {
    font-size: 1.25rem !important;
  }

  .card-body p {
    font-size: 0.9rem;
  }
}
