.hero {
  width: 80vw;
  height: auto;
  background-color: #fdefbd;
  border-radius: 1vw;
  display: flex;
  max-width: 84rem;
}

.hero-body {
  width: 50%;
}

.hero-text {
  height: auto;
  margin: 10% 0% 0% 10%;
  font-size: 2rem;
}

.hero-button {
  height: 5vh;
  margin: 5% 0% 5% 12%;
  font-size: large;
  color: black;
  background-color: #fcc11e;
}

.arrow {
  color: #dd42e4;
  font-size: 1rem;
  -webkit-text-stroke: 0.1rem black;
  padding: 0 0 0 0.5rem;
}

.hero-img {
  position: relative;
  width: 50%;
  height: auto;
  align-items: center;
}

.news-and-events {
  width: 82rem;
}

.quick-links {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

@media (min-width: 52rem) and (max-width: 82rem) {
  .hero {
    width: 92vw;
    flex-direction: column;
    border-radius: 4vw;
  }

  .hero-body {
    width: 100%;
  }

  .hero-img {
    width: 100%;
    order: -1;
  }

  .hero-text {
    margin: 8% 8% 4% 8%;
    font-size: 1.4rem;
    text-align: center;
  }

  .hero-button {
    height: auto;
    padding: 0.75rem 1.5rem;
    margin: 4% auto 8%;
    width: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .news-and-events {
    width: 70vw;
    min-width: 44vw;
  }
}


@media (max-width: 51rem) {
  .hero {
    width: 92vw;
    flex-direction: column;
    border-radius: 4vw;
  }

  .hero-body {
    width: 100%;
  }

  .hero-img {
    width: 100%;
    order: -1;
  }

  .hero-text {
    margin: 8% 8% 4% 8%;
    font-size: 1.4rem;
    text-align: center;
  }

  .hero-button {
    height: auto;
    padding: 0.75rem 1.5rem;
    margin: 4% auto 8%;
    width: 80%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .news-and-events {
    width: 24rem;
  }
}
